body {
  --bg-main: #e5e5e5;
  --bg-sub: #ffffff;
  --color-bis: #363636;
  --text-main: #18181C;
  --text-sub: #5D5D67;
  --link: #2380ED;
  --border: #E5E5E5;
}

body.dark {
  --bg-main: #212121;
  --bg-sub: #212121;
  --color-bis: #E6E6E6;
  --text-main: #FAFAFC;
  --text-sub: #FFFFFF;
  --link: #506dcb;
  --border: #353535;
}
